@use "../../styles/background" as bg;

.matchmaking {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 100%;
    padding-top: 120px;
    @include bg.background();

    h1 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
        margin: 0px;
    }

    .matchspace {
        height: 500px;
        width: 440px;
        border: 1px solid white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .navigation {
        display: flex;
        gap: 20px;

        a {
            padding: 6px 40px;
            border: 2px solid white;
            border-radius: 10px;
            color: white;
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
        }

        .active {
            background-color: white;
            color: red;
        }
    }

}
